<Project>
  <PropertyGroup>
    <!-- Set if the default steam game install directory doesn't work. -->
    <!-- <SuperPsychoBaseballGameRootDir></SuperPsychoBaseballGameRootDir> -->

    <!-- Set if your BepInEx/ directory isn't in the game files. -->
    <!-- <SuperPsychoBaseballBepInExDir></SuperPsychoBaseballBepInExDir> -->

    <!-- Enable/disable deploying mod files to BepInEx directory. -->
    <DeployModFilesEnabled>true</DeployModFilesEnabled>
  </PropertyGroup>
</Project>
